<footer class="footer fixed-bottom">
  <a href="#">
    <img src="../../../assets/img/logo mz.png" alt="Logo MZ">
  </a>
  <nav class="nav" id="menu">
    <li><a routerLink="/home" routerLinkActive="active-link"> Home </a></li>
    <li><a routerLink="/nosotros"> Nosotros </a></li>
    <li><a routerLink="/portfolio"> Portfolio </a></li>
    <li><a routerLink="/contacto"> Contacto </a></li>
  </nav>
  <div class="redes">
    <a href="https://www.facebook.com/juli.mase.33" target="_blank"><img src="../../../assets/img/facebook-brands.svg" alt="Facebook"></a>
    <a href="https://www.instagram.com/mzstudio_/" target="_blank"><img src="../../../assets/img/instagram-square-brands.svg" alt="Instagram"></a>
    <a href="https://wa.me/+5492234221041?text=Hola! Queria informacion sobre un servicio del estudio" target="_blank"><img src="../../../assets/img/whatsapp-square-brands.svg" alt="whatsapp"></a>
  </div>

</footer>
