<section class="spoty contenedor" id="portfolio">
  <div class="spoty-legend" data-aos="fade-right">
    <h2>Conocé algunas de nuestras producciones</h2>
    <p>Una gran cantidad de artistas ya nos eligieron para producir, grabar, mezlcar y masterizar sus
      trabajos. En la siguiente playlist de Spotify podés escuchar algunos de los mas destacados de
      nuestra ciudad, junto con algunas portadas de los singles y discos realizados.</p>
  </div>
  <iframe style="border-radius:12px; margin: 0 auto; display: block;"
          src="https://open.spotify.com/embed/playlist/0JCthv6WmFIReDyHMJtzXj?utm_source=generator&theme=0"
          width="70%" height="300" frameBorder="0" allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" data-aos="fade-left"></iframe>
</section>

<section class="carrouselImagenes">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/img/discos/nmr.jpg" class="d-block imgcar" alt="Nos miran raro">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/discos/yaun.jpg" class="d-block imgcar" alt="yaun">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/discos/mazeta.jpg" class="d-block imgcar" alt="mazeta">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/discos/loro%20malo.jpg" class="d-block imgcar" alt="loro malo">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/discos/nos%20miran%20raro%20back.jpg" class="d-block imgcar" alt="nmr back">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
