<header class="fixed-top">
  <a href="#">
    <img src="../../../assets/img/logo%20mz.png" alt="logo mz">
  </a>
  <nav class="nav" id="menu">
    <li><a routerLink="/home" routerLinkActive="activo"> Home </a></li>
    <li><a routerLink="/nosotros" routerLinkActive="activo"> Nosotros </a></li>
    <li><a routerLink="/portfolio" routerLinkActive="activo"> Portfolio </a></li>
    <li><a routerLink="/contacto" routerLinkActive="activo"> Contacto </a></li>
    <button class="switch" id="switch" (click)="cambio()" [ngClass]="{'active': darkMode ? true : false}">
      <span><i class="fas fa-sun"></i></span>
      <span><i class="fas fa-moon"></i></span>
    </button>
  </nav>
</header>
