<section class="acerca contenedor" id="nosotros">
  <div class="visual" data-aos="fade-right">
    <h1>MZ Studios</h1>
    <h2>Grabación, producción, mezcla y mastering</h2>
      <img class="img-perfil" src="../../../assets/img/perfil.jpg" alt="Foto de perfil">
  </div>
  <div class="presentacion" data-aos="fade-left">
    <h2>Bienvenidos!</h2>
    <p class="texto-presentacion">¡Hola! Somos Julián y Joaquin. Creamos MZ Studio en el año 2018, a partir
      de la pasión que teníamos por la musica y lo que a ella rodea, comenzando con grabaciones caseras, y
      perfeccionandonos tanto en conocimientos como en equipamiento.</p> <br>
    <p class="texto-presentacion">Disfrutamos componer y producir cualquier tipo de genero musical, desde el
      pop, rock o blues hasta jingles y comerciales musicales.</p>
  </div>
</section>

<section class="servicios" id="servicios">
  <div class="composicion contenedor" data-aos="fade-right">
    <i class="fas fa-music fa-2x"></i>
    <h2>Composición</h2>
    <p>Nos dedicamos tanto a la composición de tracks de terceros, así como de jingles y pubilidades
      musicales integras.</p>
  </div>
  <div class="grabacion contenedor" data-aos="fade-up">
    <i class="fas fa-compact-disc fa-2x"></i>
    <h2>Grabación</h2>
    <p>El estudio cuenta con el equipamiento ideal para comenzar con tus grabaciones, tanto de discos como
      singles o EPs</p>
  </div>
  <div class="produccion contenedor" data-aos="fade-left">
    <i class="fas fa-headphones fa-2x"></i>
    <h2>Producción</h2>
    <p>Utilizamos los ultimos softwares para producir tu proximo track, ya sea en forma presencial o formato
      virtual</p>
  </div>
</section>


<!--  <section class="container-fluid d-flex justify-content-between align-items-center p-5" id="nosotros">-->
<!--    <div class="visual w-50 d-flex flex-column align-items-center p-5" data-aos="fade-right">-->
<!--      <h1>MZ Studios</h1>-->
<!--      <h2 class="text-info pt-3">Grabación, producción, mezcla y mastering</h2>-->
<!--      <img class="img-perfil rounded-circle pt-3" src="../../../assets/img/perfil.jpg" alt="Foto de perfil" width="300rem">-->
<!--    </div>-->
<!--    <div class="presentacion w-50 p-5" data-aos="fade-left">-->
<!--      <h2 class="text-info pb-5 text-center">Bienvenidos!</h2>-->
<!--      <p class="texto-presentacion fs-5">¡Hola! Somos Julián y Joaquin. Creamos MZ Studio en el año 2018, a partir-->
<!--        de la pasión que teníamos por la musica y lo que a ella rodea, comenzando con grabaciones caseras, y-->
<!--        perfeccionandonos tanto en conocimientos como en equipamiento.</p> <br>-->
<!--      <p class="texto-presentacion fs-5">Disfrutamos componer y producir cualquier tipo de genero musical, desde el-->
<!--        pop, rock o blues hasta jingles y comerciales musicales.</p>-->
<!--    </div>-->
<!--  </section>-->


<!--  <section class="bg-info d-flex" id="servicios">-->
<!--    <div class="composicion" data-aos="fade-right">-->
<!--      <i class="fas fa-music fa-2x"></i>-->
<!--      <h2 class="text-white pt-5 mt-4 text-center">Composición</h2>-->
<!--      <p class="text-white p-5 mb-4 fs-5">Nos dedicamos tanto a la composición de tracks de terceros, así como de jingles y pubilidades-->
<!--        musicales integras.</p>-->
<!--    </div>-->
<!--    <div class="grabacion" data-aos="fade-up">-->
<!--      <i class="fas fa-compact-disc fa-2x"></i>-->
<!--      <h2 class="text-white pt-5 mt-4 text-center">Grabación</h2>-->
<!--      <p class="text-white p-5 mb-4 fs-5" >El estudio cuenta con el equipamiento ideal para comenzar con tus grabaciones, tanto de discos como-->
<!--        singles o EPs</p>-->
<!--    </div>-->
<!--    <div class="produccion" data-aos="fade-left">-->
<!--      <i class="fas fa-headphones fa-2x"></i>-->
<!--      <h2 class="text-white pt-5 mt-4 text-center" >Producción</h2>-->
<!--      <p class="text-white p-5 mb-4 fs-5">Utilizamos los ultimos softwares para producir tu proximo track, ya sea en forma presencial o formato-->
<!--        virtual</p>-->
<!--    </div>-->
<!--  </section>-->


