.hero{
  width: 100vw;
  height: 100vh;
  background-image: url(../../../assets/img/principalñ.jpg);
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hero img{
  height: 100%;
  width: 100%;
}

h1{
  font-family: "Bradley Hand ITC";
  font-weight: bold;
  font-size: 6rem;
  color: white;
  text-shadow: 2px 2px 2px black ;
  position: absolute;
  top: 30%;
  right: 10%;
}
